.w {
    display: flex;
    padding: 70px;
    justify-content: space-between;
}

.w .wew {
    display: block;
    text-align: center;
}

#upper {
    margin-top: 0 !important;
}

body {
    background-color: black;
}

.collapse {
    display: block !important;
    text-align: center !important;
}

.collapse .sw {
    width: 100%;
    height: auto;
    display: block !important;
}

.sw h2 {
    font-size: 35px !important;
    font-weight: bolder;
}

.navbar {
    background-color: rgb(218, 218, 218) !important;
}

.in {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-decoration: none !important;
    background-color: rgb(148, 248, 170);
    width: 30%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.out {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    text-decoration: none !important;
    background-color: rgb(255, 158, 134);
    width: 30%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row {
    /* background-color: rgb(202, 179, 179); */
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 20px;
}

.row .col-md-3 {
    margin: auto !important;
}

#ew {
    margin: auto;
}

.text-center {
    font-size: 26px !important;
}

.row .card {
    background-color: rgb(247, 189, 87);
    width: 22%;
    min-height: 15vh;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none !important;
}

#card2 {
    background-color: rgb(72, 206, 184);
}

#card3 {
    background-color: rgb(206, 72, 139);
}

#card4 {
    background-color: rgb(92, 72, 206);
}

.card:hover {
    background-color: rgb(185, 162, 58);
}

#card2:hover {}

.inner1 {
    background-color: rgba(247, 188, 87, 0);
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    padding: 10px;
    text-align: center !important;
}

.left i {
    font-size: 30px;
    vertical-align: middle !important;
    color: white;
}

.right {
    width: 70%;
    height: 100%;
    color: white;
    padding: 10px;
}

.right h2 {
    font-size: 20px !important;
    text-align: center;
}


/* loading */

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row2 {
    background-color: rgb(255, 255, 255) !important;
    width: 70%;
    margin: auto;
}