{% load static %}


<!DOCTYPE html>
<html>
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/3e1139830b.js" crossorigin="anonymous"></script>
    <!-- external css -->
    <link rel="stylesheet" href="../../static/recognition/img/css/admin_dashboard.css">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/3e1139830b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <!-- <style>
    body{
      background: url('{% static "recognition/img/bg_image.png"%}') no-repeat center center fixed;
      background-size: cover;
      
    } -->
   
   </style>

<script  type='text/javascript'
src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'>
$(document).ready(function(){
  $("#train").click(function(){
    alert("Training begun. This may take upto 5 minutes. Please wait.");
  });
});
</script>
	
</head>
<body>
  <!-- <div id="loading-overlay">
    <div class="spinner"></div>
  </div> -->
  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">
        <img src="../../static/recognition/img/tup.png" width="80" height="80" alt="">
      </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="sw">
            <h2>Technological University of the Philippines</h2>
            <h5>Cavite Campus</h5>
        </div>



    </div>
    <a href="{% url 'logout' %}" style="text-decoration: none;"><h5 class="text-right" style="color:red;"><i class="fa-solid fa-right-from-bracket" style="color:red;"></i> Logout</h5></a>
    
  </nav>


  <br>
  <br>

    <div class="col-sm-12" id="welcome">
      
      <h1 class="text-center section-title" ><i class="fa-solid fa-user-tie"></i> Welcome Admin</h1>
     
    </div>
    
<br>
    <br>
    <div class="row">

      <a href="{%url 'register' %}" class="card">
        <div class="inner1">
          <div class="left">
            <i class="fa-solid fa-user-plus"></i>
          </div>
          <div class="right">
            <h2>Register New Employee</h2>

          </div>

        </div>

      </a>

      <a href="{%url 'add-photos'%}"class="card" id="card2">
        <div class="inner1">
          <div class="left">
            <i class="fa-solid fa-users-viewfinder"></i>
          </div>
          <div class="right">
            <h2>Register Face</h2>

          </div>

        </div>

      </a>

      <a href="{%url 'train' %}" class="card" id="card3">
        <div class="inner1">
          <div class="left">
            <i class="fa-solid fa-right-left"></i>
          </div>
          <div class="right">
            <h2>Train</h2>

          </div>

        </div>

      </a>

      <a href="{%url 'view-attendance-home' %}" class="card" id="card4">
        <div class="inner1">
          <div class="left">
            <i class="fa-solid fa-chart-simple"></i>
          </div>
          <div class="right">
            <h2>Attendance Report</h2>

          </div>

        </div>

      </a>

      

    </div>





      <!-- <div class="row">
     
       

           <div class="col-md-3" id="ew">
          <a href="{%url 'register' %}"><img src="{% static 'recognition/img/register.png' %}" class="img-responsive" style="width:300px;height:300px ;" /></a>
          
        </div>
          <div class="col-md-3" id="ew">
          <a href="{%url 'add-photos'%}"><img src="{% static 'recognition/img/addphotos.png' %}" class="img-responsive" style="width:300px;height:300px ;" /></a>
          
        </div>
           <div class="col-md-3" id="ew">
          <a href="{%url 'train' %}" id="train" ><img src="{% static 'recognition/img/train.jpeg' %}" class="img-responsive" style="width:300px;height:300px ;" /></a>
          
        </div>
        <div class="col-md-3" id="ew">
          <a href="{%url 'view-attendance-home' %}"><img src="{% static 'recognition/img/reports.png' %}" class="img-responsive" style="width:300px;height:300px"/></a>
       
        </div>
       




      </div> -->
  <!-- <div class="row1">

  

        <div class="col md-3">
   <h4 class="text-center att">Register New Employees</h4>
        </div>
          <div class="col md-3">
   <h4 class="text-center att">Add Photos</h4>
        </div>
            <div class="col md-3">
   <h4 class="text-center att">Train</h4>
        </div>
        <div class="col md-3">
             <h4 class="text-center lgn">View Attendance Reports </h4>
        </div>
     


</div> -->

 {% if messages %}
      {% for message in messages%}
      <div class="alert alert-{{message.tags}}" > {{message}}
      </div>
      {%endfor %}

    {%endif%}


</div>



<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>